[data]
  type = "work"
  email = "easy-quest@mail.ru"
  name = "Ivan Yastrebov"
  website = "www.easyquest.com"
  python_interpreter = "/data/data/com.termux/files/usr/bin/python3.10"

[git]
  autoAdd = true
  autoPush = true

[edit]
  command = "vim"
