#!/data/data/com.termux/files/usr/bin/env bash
#=============================================================================
# basic.bash --- basic script files
# Copyright (c) 2016-2021 nvspc & EasyQuest
# Author: {{ .name }} < {{ .email }} >
# URL: https://easyquest.host
#=============================================================================

python -c "from click import secho as echo;echo('HELO ZZZZZZZZZZZZZ',bg='red',fg='black')"
